// footer design
.footer {
    background-color: #343a40;
    color: white;
    padding: 40px 0;
  }
  .footer a {
    color: #f8f9fa;
    text-decoration: none;
  }
  .footer a:hover {
    color: #007bff;
    text-decoration: underline;
  }
  .footer h5 {
    margin-bottom: 20px;
  }