<footer class="bg-dark text-white py-4 footer mt-3">
    <div class="container text-center">
       <div class="row">
      
            <div class="col-md-3">
            <h2>Company</h2>
            <ul class="list-unstyled">
                <li>
                  <a aria-current="page" routerLink="/">About Us</a>
                </li>
                <li>
                  <a aria-current="page" routerLink="/">Contact Us</a>
                </li> 
                <li>
                    <a aria-current="page" routerLink="/">Our services</a>
                </li>  
              </ul>
              </div>
        
        <div class="col-md-3">
            <h2>Quick Links</h2>
            <ul class="list-unstyled">
                <li>
                  <a aria-current="page" routerLink="/">About Us</a>
                </li>
                <li>
                  <a aria-current="page" routerLink="/">Contact Us</a>
                </li> 
                <li>
                    <a aria-current="page" routerLink="/">Our services</a>
                </li>  
              </ul>
        </div>
        <div class="col-md-3">
            <h2>Business Solutions</h2>
            <ul class="list-unstyled">
                <li>
                  <a routerLink="/">Talent</a>
                </li>
                <li>
                  <a routerLink="/">Marketing</a>
                </li> 
                <li>
                    <a routerLink="/">Sales</a>
                </li>  
                <li>
                    <a routerLink="/">Learning</a>
                </li>
              </ul>
        </div>
        <div class="col-md-3">
        <div class="text-center text-md-right">
            <h2>Follow Us</h2>
            <a href="https://twitter.com/your-profile-link" target="_blank"><i class="fa-brands fa-x-twitter px-3 fs-3"></i></a>
            <a href="https://www.linkedin.com/in/your-profile-link" target="_blank"><i class="fa-brands fa-facebook-f px-3 fs-3"></i></a>
            <a href="https://www.linkedin.com/in/your-profile-link" target="_blank"><i class="fa-brands fa-linkedin-in px-3 fs-3"></i></a>
            <a href="https://youtu.be/xzU63OuWDMA?si=FaMKOnkfdS7NTvUF" target="_blank"><i class="fa-brands fa-youtube px-3 fs-3"></i></a>
        </div>
        </div>
        </div>
        <div class="mt-3">
            <div class="col text-center">
              <p class="mb-0">&copy; 2024 CareerLink. All rights reserved.</p>
            </div>
          </div>
    </div>
    </footer>


   