.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-top: 80px;
}
.login_header {
    color: rgb(174, 13, 13);
    // font-weight: bolder;
    font-size: 30px;
    margin-bottom: 20px;
    padding: 12px 5px 3px 10px;
    line-height: 1.4;
}

.container {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
}
.login-input {
    width: 100%;
    margin-bottom: 10px;
}
.signin_button {
    width: 100%;
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 10px;
}
.login_img img {
  max-width: 100%;
  height: auto;
}
// newly added
.job-toggle-button.active {
  background-color: #007bff;
  color: white;
}

// .work-status {
//   cursor: pointer;
// }

.work-status:hover {
  cursor: pointer;
}

.selected-card {
  border: 2px solid #000; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}
// Register-form design

@media only screen and (min-width: 768px) {
.content {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.container {
    max-width: 50%;
    margin-bottom: 0;
}
.login_header{
    font-size: 55px;
    margin-left: 15rem;
}
.login_img {
    width: 800px;
    margin-left: 20px;
}
}
@media only screen and (max-width: 1024px) and (min-width: 768px){
    .container {
        max-width: 100%;
        margin-bottom: 0;
    }
    .login_header{
        font-size: 35px;
        margin-left: 3rem;
        width: 100%;
    }
} 



// profile-icon style
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
  }
  
  .nav-content {
    display: flex;
    align-items: center;
  }
  
  .profile-menu {
    position: relative;
    .profile-icon {
      cursor: pointer;
      width: 40px;
      height: 40px;
    }
    .profile-options {
      position: absolute;
      top: 50px;
      right: 0;
      background-color: white;
      border: 1px solid #ccc;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          padding: 10px;
          cursor: pointer;
          &:hover {
            background-color: #f1f1f1;
          }
        }
      }
    }
  }
  