<header>
  <app-header></app-header>
</header>

<section>
      <div class="job-card-container" *ngFor="let job of jobPosting">
        <div class="card job-card" style="background-color: #e3f2fd;">
          <div class="card-body text-center">
            <img
              [src]="'https://careerlink-jobportal-backend-production.up.railway.app/uploads/jobLogo/' + job.imageUrl"
              alt="Job Image"
              class="job-icon"
            />

            <h5 class="job-title">{{ job.jobtitle }}</h5>
            <p class="mx-3 fs-5">
              {{ job.companyname }},{{ job.job_location }}
            </p>
            <!-- <button
              type="button"
              class="btn job-apply"
              [ngClass]="job.isApplied ? 'btn-success' : 'btn-primary'"
              [disabled]="job.isApplied"
              (click)="applyForJob(job.jobposting_id)"
            >
              {{ job.isApplied ? "Applied" : "Apply for Job" }}
            </button> -->
          </div>
        </div>
      </div>
      <div class="container-fluid">
      <div *ngFor="let job of jobPosting">
        <div class="body-content">
          <div class="">
            <div class="row">
              <div class="col-lg-8 col-md-12 job-description">
                <div class="mb-4">
                  <h2 class="fs-3">Job Description</h2>
                  <p class="fs-5 ps-3" style="line-height: 1.5">
                    {{ job.jobdescription }}
                  </p>
                </div>
                <div class="mb-4">
                  <h2 class="fs-3">Key Responsibilities</h2>
                  <ul class="mt-3">
                    <li class="fs-5" style="line-height: 1.5; list-style: none;">
                      {{ job.keyresponse_1 }}
                    </li>
                  </ul>
                </div>

                <div>
                  <h2 class="fs-3">Skill & Qualifications</h2>
                  <ul class="mt-3">
                    <li class="fs-5" style="line-height: 1.5; list-style: none;">
                      {{ job.skillsrequired }}
                    </li>
                    <li class="fs-5" style="line-height: 1.5; list-style: none;">
                      {{ job.qualifications }}
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 p-1 m-3 mt-3">
                <div class="card job-overview-card">
                  <div class="card-body">
                    <h4 class="pb-3">Job Overview</h4>
                    <hr />
                    <div class="d-flex">
                      <i class="fa-regular fa-building fs-5 mx-3"></i>
                      <p class="fs-5">
                        Company name<br />
                        <span>{{ job.companyname }}</span>
                      </p>
                    </div>
                    <div class="d-flex">
                      <i class="fa-solid fa-location-dot fs-5 mx-3"></i>
                      <p class="fs-5">
                        Location:<br />
                        <span>{{ job.job_location }}</span>
                      </p>
                    </div>
                    <!-- <div class="d-flex">
                      <i class="fa-solid fa-desktop fs-5 mx-3"></i>
                      <p class="fs-5">
                        Job Title:<br />
                        <span>{{ job.jobtitle }}</span>
                        
                      </p>
                    </div> -->
                    <div class="d-flex">
                      <i class="fa-solid fa-calendar fs-5 mx-3"></i>
                      <p class="fs-5">Date Posted:<br />
                        <span>{{ job.dateposted }}</span>
                        
                      </p>
                    </div>
                    <div class="d-flex">
                      <i class="fa-solid fa-hourglass-end fs-5 mx-3"></i>
                      <p class="fs-5">
                        Expiration date:<br />
                        <span>{{ job.expiredate }}</span>
                        
                      </p>
                    </div>
                    <div class="d-flex">
                      <i class="fa-solid fa-user fs-5 mx-3"></i>
                      <p class="fs-5">
                        Employee Type:<br />
                        <span>{{ job.employeetype }}</span>
                        
                      </p>
                    </div>
                    <!-- <div class="d-flex">
                      <i class="fa-solid fa-book fs-5 mx-3"></i>
                      <p class="fs-5">
                        Qualifications:<br />
                        <span>{{ job.qualifications }}</span>
                      
                      </p>
                    </div> -->
                    <div class="d-flex">
                      <i class="fa-solid fa-suitcase fs-5 mx-3"></i>
                      <p class="fs-5">
                        Experience:<br />
                        <span>{{ job.experience }}</span>
                        
                      </p>
                    </div>
                    <div class="d-flex">
                      <i class="fa-regular fa-money-bill-1 fs-5 mx-3"></i>
                      <p class="fs-5">
                        Salary:<br />
                        <span>{{ job.salary }}</span>
                        
                      </p>
                    </div>
                    <!-- <div class="d-flex">
                      <i class="fa-regular fa-money-bill-1 fs-5 mx-3"></i>
                      <p class="fs-5">
                        Skills:<br />
                        <span>{{ job.skillsrequired }}</span>
                       
                      </p>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<section>
  <div *ngFor="let job of jobPosting">
    <button
              type="button"
              class="btn job-apply overall-applybtn"
              [ngClass]="job.isApplied ? 'btn-success' : 'btn-primary'"
              [disabled]="job.isApplied"
              (click)="applyForJob(job.jobposting_id)"
            >
              {{ job.isApplied ? "Applied" : "Apply for Job" }}
            </button>
    </div>
</section>
<!-- <footer>
  <app-footer></app-footer>
</footer> -->
