// top search bar style
.bg-image {
  width: 100%;
  height: 580px;
  object-fit: cover; 
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; 
}
.top_content {
  position: relative;
  z-index: 1;
  background-color: rgba(197, 224, 221, 0.945);
  height: 580px; 
  overflow: hidden;
}
.top_content_align{
    padding: 170px 0 0 60px ;
    color: #153352;
}
.top_content_1{
  font-weight: 500;
  font-size: 70px;
  color: #153352;
  line-height: 1.4;
}
.new-job{
  color: rgb(15, 84, 30); 
  font-size: 80px
}
.top-secondline{
  margin-top: 20px;
}
.category-style {
  font-size: 22px;
  font-weight: 500;
  padding-top: 20px;
  color: #153352;
}
.category-style:hover{
  cursor: pointer;
  color: green;
}
.card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
  transition: all 0.3s ease;  
}
.job-icon {
  border-radius: 20px; 
  padding: 8px;
  background-color: #fff;
  border: 0px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.browse-btn{
  padding: 15px;
  width: 300px;
}
.suggestion-list {
  z-index: 9999;
  position: absolute;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 14px;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%; 
  white-space: nowrap; 
}
.suggestion-list-item {
  padding: 10px;
  cursor: pointer;
  white-space: normal;
}
.suggestion-list-item:hover {
  background-color: #f1f1f1;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transform: scale(1.03);
  transition: all 0.3s ease;
}
.suggestion-list::-webkit-scrollbar {
  width: 8px;
}
.suggestion-list::-webkit-scrollbar-thumb {
  background-color: #a4a9ad;
  border-radius: 4px;
  border: 2px solid white;
}
.suggestion-list::-webkit-scrollbar-thumb:hover {
  background-color: #0056b3;
}
.suggestion-list::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 4px;
}
@media (min-width: 1024px) and (max-width: 1210px) {
  .bg-image {
    height: 100%;
    object-fit: cover;
  }
  .top_content {
    min-height: 720px;
    overflow: visible; 
  }
  .top_content_1 {
    font-size: 70px;
  }
  .new-job {
    font-size: 80px;
  }
  .top-secondline {
    line-height: 1.4;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .bg-image {
    height: 100%;
    object-fit: cover;
  }
  .top_content {
    height: 600px; 
  }
  .top_content_align {
    padding: 140px 30px;      
  }
  .top_content_1 {
    font-size: 55px;
  }
  .new-job {
    font-size: 65px;
  }
  .top-secondline {
    line-height: 1.3;
  }
}
@media (max-width: 767px) {
  .bg-image {
    height: 100%;
    object-fit: cover;
  }
  .top_content {
    height: 600px; 
  }
  .top_content_align {
    padding: 100px 20px;
  }
  .top_content_1 {
    font-size: 45px;
  }
  .new-job {
    font-size: 55px;
  }
  .top-secondline {
    line-height: 1.3;
  }
}
@media (max-width: 425px) {
  .top_content {
    height: 650px; 
  }
  
}

